.navbarContainer {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: rgba(20, 171, 173);
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
  z-index: 1000;
  transition: background-color 0.5s ease;
}

.navbarContainer.scrolled {
  background-color: rgba(20, 171, 173, 0.5);
  margin: 0;
  padding: 0;
  z-index: 1000;
  transition: background-color 0.5s ease;
}

.navbarContainer li {
  color: white;
  display: inline-block;
  margin: 0 15px;
  font-size: 17px;
  padding: 20px;
  cursor: pointer;
}

.navbarContainer li:hover {
  text-shadow: white;
  transform: scale(1.05);
  transition: 0.3s;
}

.mobileMenuButton {
  display: none; /* Hide the hamburger icon by default on larger screens */
}


@media (max-width: 768px) {
  .navList-container{
    transition: transform 0.3s ease;
  }

  .mobileMenuButton {
    display: block;
    position: absolute;
    right: 6px;
    top: 6px;
    font-size: 20px;
    cursor: pointer;
    z-index: 2;
  }

  .navbarContainer.scrolled {
    height: 0;
    opacity: 0;
    transition: height 0.4s ease, opacity 0.3s ease;
  }

  @keyframes rotateOut {
    0% {
      transform: rotate(90deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  /* Update the transition property for the menuIcon */
.menuIcon {
  transition: transform 1.3s ease;
  animation: rotateOut 0.4s ease forwards;
}

/* Add a keyframes animation for the open state */
@keyframes rotateIn {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

/* Apply the keyframes animation for the open state */
.menuIcon.open {
  animation: rotateIn 0.4s ease forwards;
}

  
  
  .navList.mobileMenuOpen {
    height: 28vh;
    transition: height 1.3s ease-in;
  }
  
  .navList {
    opacity: 0;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(20, 171, 173);
    width: 100%;
    text-align: center;
    padding-top: 80px; /* Adjust as needed */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1;
    transition: opacity 0.3s ease
  }

  .navList.mobileMenuOpen {
    opacity: 1;
    height: 28vh; /* Use vh instead of dvh */
    transition: opacity 0.3s ease;
  }

  .navbarContainer li {
    margin: 0;
    padding: 15px;
    width: 100%; /* Make the list items take up the full width */
    box-sizing: border-box;
    transition: background-color 0.3s ease;
  }

  .closeButton {
    margin-top: auto; /* Push the close button to the bottom */
  }

  .navbarContainer, .navbarContainer * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

.navbarContainer, .navbarContainer * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
  
  